﻿/*

		Help CSS

*/

.helpHeader
{
	color: #596F8F;
  font-size: 22px;
  font-weight: 200;
  padding: 8px 15px;
  text-shadow: 0 1px 0 #fff;
  text-align: center;
}

.defaultDashboardImage
{
	position: relative;
  left: 5px;
  top: 35px;
}

.defaultDashboardText
{
	font-size: 14px;
	position: relative;
  left: 35px;
  top: 40px;
  width: 500px;
}

.adminWindowImage
{
	position: relative;
  left: 10px;
  top: 50px;
}

.tabsToolboxImage
{
	position: relative;
  left: 5px;
  top: 45px;
  float: 'left';
}


.tabsToolboxText
{
	font-size: 14px;
	position: relative;
  left: 220px;
  top: -80px;
  width: 300px;
}

.portalToolboxImage
{
	position: relative;
  left: 5px;
  top: 0px;
  float: 'left';
}

.portalToolboxText
{
	font-size: 14px;
	position: relative;
  left: 310px;
  top: -180px;
  width: 220px;
}


.portletToolsImage
{
	position: relative;
  left: 5px;
  top: -150px;
  float: 'left';
}

.portletToolsText
{
	font-size: 14px;
	position: relative;
  left: 270px;
  top: -300px;
  width: 250px;
}


.dashboardImage
{
	position: relative;
  left: 5px;
  top: -250px;
  float: 'left';
}

.dashboardText
{
	font-size: 14px;
	position: relative;
  left: 35px;
  top: -250px;
  width: 500px;
}

.saveDashboardImage
{
	position: relative;
  left: 5px;
  top: -250px;
  float: 'left';
}

.saveDashboardText
{
	font-size: 14px;
	position: relative;
  left: 280px;
  top: -430px;
  width: 220px;
}

.dashboardToolboxImage
{
	position: relative;
  left: 10px;
  top: -370px;
  float: 'left';
}

.dashboardToolboxText
{
	font-size: 14px;
	position: relative;
  left: 230px;
  top: -600px;
  width: 290px;
}

.dashboardURLImage
{
	position: relative;
  left: 100px;
  top: -420px;
  float: 'left';
}

.dashboardURLText
{
	font-size: 14px;
	position: relative;
  left: 40px;
  top: -400px;
  width: 460px;
}

.filterDialogImage
{
	position: relative;
  left: 60px;
  top: -380px;
  float: 'left';
}

.filterDialogText
{
	font-size: 14px;
	position: relative;
  left: 60px;
  top: -370px;
  width: 380px;
}

.favoriteLinksImage
{
	position: absolute;
  left: 60px;
  top: 3280px;
}

.favoriteLinksText
{
	font-size: 14px;
	position: absolute;
  left: 100px;
  top: 3600px;
  width: 380px;
}

.manageFavoriteLinksImage
{
	position: absolute;
  left: 60px;
  top: 3680px;
}

.manageFavoriteLinksText
{
	font-size: 14px;
	position: absolute;
  left: 100px;
  top: 4100px;
  width: 380px;
}

.addFavoriteLinksImage
{
	position: absolute;
  left: 80px;
  top: 4200px;
}

.addFavoriteLinksText
{
	font-size: 14px;
	position: absolute;
  left: 100px;
  top: 4400px;
  width: 380px;
}

.haystackSelectDateRangeImage
{
	position: absolute;
  left: 80px;
  top: 4500px;
}

.haystackSelectDateRangeText
{
	font-size: 14px;
	position: absolute;
  left: 100px;
  top: 5140px;
  width: 380px;
}

.showIncidentListImage
{
	position: absolute;
  left: 100px;
  top: 5250px;
}

.showIncidentListText
{
	font-size: 14px;
	position: absolute;
  left: 80px;
  top: 5480px;
  width: 380px;
}

.incidentList01Image
{
	position: absolute;
  left: 100px;
  top: 5550px;
}

.incidentList01Text
{
	font-size: 14px;
	position: absolute;
  left: 80px;
  top: 5900px;
  width: 380px;
}

.incidentList02Image
{
	position: absolute;
  left: 100px;
  top: 6000px;
}

.incidentList02Text
{
	font-size: 14px;
	position: absolute;
  left: 80px;
  top: 6240px;
  width: 380px;
}




.tipsHeaderText
{
	font-size: 18px;
	position: absolute;
  left: 60px;
  top: 6360px;
}

.tipsWordTitleText
{
	font-size: 14px;
	text-decoration: underline;
	position: absolute;
  left: 80px;
  top: 6390px;
}

.tipsWordText
{
	font-size: 14px;
	position: absolute;
  left: 100px;
  top: 6420px;
}
