/*

		Help CSS

*/

.helpHeader
{
	color: #596F8F;
  font-size: 22px;
  font-weight: 200;
  padding: 8px 15px;
  text-shadow: 0 1px 0 #fff;
  text-align: center;
}


.index
{
	font-size: 14px;
	position: absolute;
  width: 500px;
  left: 25px
}

.defaultDashboardImage
{
	position: relative;
  left: 5px;
  top: 100px;
}

.defaultDashboardText
{
	font-size: 14px;
	position: relative;
  left: 35px;
  top: 100px;
  width: 500px;
}

.adminWindowImage
{
	position: relative;
  left: 10px;
  top: 110px;
}

.dragDropImage
{
	position: relative;
  left: 40px;
  top: 110px;
}

.dragDropText
{
	font-size: 14px;
	position: relative;
  left: 40px;
  top: 110px;
  width: 400px;
}

.dashboardImage
{
	position: relative;
  left: 20px;
  top: 140px;
}

.dashboardText
{
	font-size: 14px;
	position: relative;
  left: 35px;
  top: 150px;
  width: 500px;
}

.portalToolboxImage
{
	position: relative;
  left: 10px;
  top: 50px;
}

.portalToolboxText
{
	font-size: 14px;
	position: relative;
  left: 310px;
  top: -150px;
  width: 220px;
}

.saveDashboardImage
{
	position: relative;
  left: 10px;
  top: -110px;
}

.saveDashboardText
{
	font-size: 14px;
	position: relative;
  left: 310px;
  top: -270px;
  width: 220px;
}

.dashboardToolboxImage
{
	position: relative;
  left: 10px;
  top: -210px;
}

.dashboardToolboxText
{
	font-size: 14px;
	position: relative;
  left: 310px;
  top: -470px;
  width: 220px;
}

.dashboardURLImage
{
	position: relative;
  left: 100px;
  top: -260px;
}

.dashboardURLText
{
	font-size: 14px;
	position: relative;
  left: 35px;
  top: -250px;
  width: 500px;
}

.filterDialogImage
{
	position: relative;
  left: 100px;
  top: -210px;
}

.filterDialogText
{
	font-size: 14px;
	position: relative;
  left: 35px;
  top: -160px;
  width: 500px;
}

.favoriteLinksImage
{
	position: relative;
  left: 40px;
  top: -110px;
}

.favoriteLinksText
{
	font-size: 14px;
	position: relative;
  left: 80px;
  top: -100px;
  width: 400px;
}

.manageFavoriteLinksImage
{
	position: relative;
  left: 70px;
  top: -80px;
}

.manageFavoriteLinksText
{
	font-size: 14px;
	position: relative;
  left: 80px;
  top: -80px;
  width: 400px;
}

.addFavoriteLinksImage
{
	position: relative;
  left: 90px;
  top:-50px;
}

.addFavoriteLinksText
{
	font-size: 14px;
	position: relative;
  left: 80px;
  top: -50px;
  width: 400px;
}

.haystackSelectDateRangeImage
{
	position: relative;
  left: 90px;
  top:-20px;
}

.haystackSelectDateRangeText
{
	font-size: 14px;
	position: relative;
  left: 80px;
  top: -20px;
  width: 400px;
}

.showIncidentListImage
{
	position: relative;
  left: 90px;
  top: -10px;
}

.showIncidentListText
{
	font-size: 14px;
	position: relative;
  left: 80px;
  top: -10px;
  width: 400px;
}

.incidentList01Image
{
	position: relative;
  left: 90px;
  top: -10px;
}

.incidentList01Text
{
	font-size: 14px;
	position: relative;
  left: 80px;
  top: -10px;
  width: 400px;
}

.incidentList02Image
{
	position: relative;
  left: 90px;
  top: 20px;
}

.incidentList02Text
{
	font-size: 14px;
	position: relative;
  left: 80px;
  top: 30px;
  width: 400px;
}

.tipsHeaderText
{
	font-size: 14px;
	position: relative;
  left: 40px;
  top: 100px;
  width: 400px;
}

.tipsWordTitleText
{
	font-size: 14px;
	text-decoration: underline;
	position: relative;
	left: 80px;
  top: 110px;
  width: 400px;
}

.tipsWordText
{
	font-size: 14px;
	position: relative;
  left: 80px;
  top: 120px;
  width: 400px;
}