/*

	SALP CSS

*/

.header 
{
    color: #596F8F;
    font-size: 22px;
    font-weight: 200;
    padding: 8px 15px;
    text-shadow: 0 1px 0 #fff;
}

.handCursor
{
	cursor: pointer;
}

#app-header 
{
    color: #596F8F;
    font-size: 22px;
    font-weight: 200;
    padding: 8px 15px;
    text-shadow: 0 1px 0 #fff;
}

.x-theme-neptune #app-header 
{
    color: white;
    text-shadow: none;
}

#app-msg 
{
    background: #D1DDEF;
    border: 1px solid #ACC3E4;
    padding: 3px 15px;
    font-weight: bold;
    font-size: 13px;
    position: absolute;
    right: 0;
    top: 0;
}

.x-panel-ghost 
{
    z-index: 1;

}
.x-border-layout-ct 
{
    background: #DFE8F6;

}
.x-portal-body 
{
    padding: 0 0 0 8px;

}
.x-portal .x-portal-column 
{
    /* columns must have vertical padding to avoid losing dimensions when empty */
    padding: 8px 8px 0 0;

}
.x-portal .x-panel-dd-spacer 
{
    border: 2px dashed #99bbe8;
    background: #f6f6f6;
    border-radius: 4px;
    -moz-border-radius: 4px;
    margin-bottom: 10px;
}

.x-portlet 
{
    margin-bottom:10px;
    padding: 1px;
}

.x-portlet .x-panel-body 
{
    background: #fff;
}

.portlet-content 
{
    padding: 10px;
    font-size: 11px;
}

#app-options .portlet-content 
{
    padding: 5px;
    font-size: 12px;
}

.tools 
{
    background-image:url(../img/folder_wrench.png);
}

.nav 
{
    background-image:url(../img/folder_go.gif);
}

.info 
{
    background-image:url(../img/information.png);
}

.navigationItem
{
	cursor: pointer;
	text-decoration: underline; 
	font-weight: bold; 
	
}

.x-column-header 
{
    background-color: #f9f9f9;
    background-image: -moz-linear-gradient(center top , #f9f9f9, #e3e4e6) !important;
    border-right: 1px solid #c5c5c5;
    color: black;
    font: 11px/13px tahoma,arial,verdana,sans-serif;
}

.linkIcon 
{
    background-image:url(../img/link.png);
}

.addLink 
{
    background-image:url(../img/link_add.png);
}

.editLink 
{
    background-image:url(../img/link_edit.png);
}

.deleteLink 
{
    background-image:url(../img/link_delete.png);
}

.cog
{
    background-image:url(../img/cog.png);
}

.cogStop 
{
    background-image:url(../img/cog_stop.png);
}

.server 
{
    background-image:url(../img/server.png);
}

.serverAdd
{
    background-image:url(../img/server_add.png);
}

.serverEdit
{
    background-image:url(../img/server_edit.png);
}

.serverDelete
{
    background-image:url(../img/server_delete.png);
}



.x-legend-item
{
		font-size: 10px;
}

.cRTicketDisplay
{
	font-size: 18px;
}

.dataRow
{
	float: right;
}

.x-grid-item-alt 
{
	background-color: #BCBCBC !important;
}

.x-grid-item-selected
{
	background-color: #5381BA !important;
}


.previousColumn
{
	background-color: #FF7070;
}

.currentColumn
{
	background-color: #75FF89;
}

.x-grid-item-over .x-grid-cell 
{ 
    background-color: #ff6 !important; 
    border-bottom-color: #999 !important; 
    border-bottom-style: dashed; 
    border-top-color: #999 !important; 
    border-top-style: dashed; 
    z-index: 10;
}

.TicketHeader 
{
    font-size: 22px;
    font-weight: 200;
    text-shadow: 0 1px 0 #fff;
}

.TicketCategory
{
	background-color: #D2B48C;
	font-size: 18px;
  font-weight: 200;
}


.invalidTicket
{
	font-size: 22px;
	font-weight: 200;
}

.ticketLink
{
	text-decoration: underline;
	cursor: pointer
}



.x-d3-treemap .x-d3-node.x-d3-selected 
{
    stroke: #779;
}

.x-d3-hierarchy .x-d3-node.x-d3-selected 
{
    fill: gold;
    stroke: red;
}

.x-d3-hierarchy .x-d3-node.x-d3-parent 
{
    cursor: pointer;
}

.x-d3-treemap .x-d3-node 
{
    fill: #99a;
    stroke: #779;
    stroke-width: 1px;
}

.x-d3-hierarchy .x-d3-node 
{
    cursor: default;
    fill: #ddd;
    stroke: #314b8b;
}



.tip 
{
  padding: 10px;
  white-space: nowrap;  
  border-color: #747474,
  background-color: #e67e22 !important
}

.tip-title 
{
	padding: 8px;
  border-radius: 8px;
  margin-top: 5px;
  margin-bottom: 8px;
  background: #d35400;
  font-size: 16px;
  height: 30px;
  font-weight: bold;
  white-space: nowrap;
}

.tip-attribute 
{
  font-weight: bold;
}

.D3TreeMap
{
    background-image:url(../img/chart_organisation.png);
}


.TreeMapDetails
{
    background-image:url(../img/application_view_detail.png);
}

.arrowUp
{
    background-image:url(../img/arrow_up.png);
}

.arrowDown
{
    background-image:url(../img/arrow_down.png);
}

.user
{
    background-image:url(../img/user_magnify.png);
}

.manager
{
    background-image:url(../img/user_suit_black.png);
}


/*.MaintenanceCausedSev1MonthOverMonthGrid .x-grid-item-alt .x-grid-cell 
{ 
    background-color: #000; 
    color: #fff; 
}*/